{{ partial "header.html" . }}

{{ partial "base_single.html" . }}

<div class="wrapper-card">
        <div class="card">
            <div class="card-title">
                <h3>Professional</h3>
                <h4>Moral License covering 1 database migration project.</h4>
            </div>
            <div class="card-price">
                <h1>
                <sup>$</sup>
                1299
                <small>1 project</small>
            </h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>1 Migration Project</li>
                </ul>
            </div>
            <div class="card-action">
              <a href="https://sales.theartofpostgresql.com/pgloader-professional-licence/">
                <button type="button">Professional License</button>
              </a>
            </div>
        </div>
        <div class="card popular">
            <div class="card-ribbon">
                <span>most popular</span>
            </div>
            <div class="card-title">
                <h3>Enterprise</h3>
                <h4>Moral License covering up to 5 database migration
                projects, with vote for priority issues on GitHub.</h4>
            </div>
            <div class="card-price">
                <h1>
                <sup>$</sup>
                2850
                <small>Up to 5 projects</small>
            </h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>Up to 5 Migration Projects</li>
                    <li>Priority Fix for 1 issue</li>
                    <li>Custom build</li>
                </ul>
            </div>
            <div class="card-action">
              <a href="https://sales.theartofpostgresql.com/pgloader-enterprise-license/">
                <button type="button">Enterprise License</button>
              </a>
            </div>
        </div>
        <div class="card donator">
            <div class="card-title">
                <h3>Donator</h3>
                <h4>Generous donations to make pgloader Open Source
                development sustainable, with ability to influence
                product evolution.</h4>
            </div>
            <div class="card-price">
                <h1>
                <sup>$</sup>
                6495
                <small>Monthly</small>
            </h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>Monthly commitment</li>
                    <li>Easy Cancel, no question asked</li>
                    <li>Unlimited Migration Projects</li>
                    <li>Priority Fix for 3 issues a month</li>
                    <li>Custom builds</li>
                    <li>Priority Vote for improvements</li>
                    <li>Priority Vote for new features</li>
                </ul>
            </div>
            <div class="card-action">
              <a href="https://sales.theartofpostgresql.com/pgloader-donator-license/">
                <button type="button">Donator License</button>
              </a>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
