<style>
.btn {
  background: #d9347e;
  background-image: -webkit-linear-gradient(top, #d9347e, #b82b4e);
  background-image: -moz-linear-gradient(top, #d9347e, #b82b4e);
  background-image: -ms-linear-gradient(top, #d9347e, #b82b4e);
  background-image: -o-linear-gradient(top, #d9347e, #b82b4e);
  background-image: linear-gradient(to bottom, #d9347e, #b82b4e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.2em;
  padding: 20px;
  text-decoration: none;
}
</style>
